/* You can add global styles to this file, and also import other style files */

.image-selector-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
