<div class="container">
  <h1 class="mt-3">Add Blog Post</h1>
  <form [formGroup]="addBlogPostForm" class="mt-3" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" formControlName="title" />
    </div>
    <div class="mb-3">
      <label class="form-label">Short Description</label>
      <input type="text" class="form-control" formControlName="shortDescription" />
    </div>
    <div class="mb-3">
      <label class="form-label">URL Handle</label>
      <input type="text" class="form-control" formControlName="urlHandle" />
    </div>
    <div class="mb-3">
      <div class="d-flex flex-row">
        <div class="col-6 p-2">
          <label class="form-label">Content</label>
          <textarea class="form-control" formControlName="content" rows="5"></textarea>
        </div>
        <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll">
          <markdown [data]="addBlogPostForm.controls.content.getRawValue()"></markdown>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label"
        >Featured Image URL<button
          class="btn btn-light"
          type="button"
          (click)="imageSelectorService.displayImageSelector()"
        >
          Select Images
        </button></label
      >
      @if (addBlogPostForm.controls.featuredImageUrl.getRawValue()) {
        <div>
          <img
            style="width: 100px"
            class="my-2"
            [src]="addBlogPostForm.controls.featuredImageUrl.getRawValue()"
          />
        </div>
      }
      <input type="text" class="form-control" formControlName="featuredImageUrl" />
    </div>
    <div class="mb-3">
      <label class="form-label">Author Name</label>
      <input type="text" class="form-control" formControlName="author" />
    </div>
    <div class="mb-3">
      <label class="form-label">Published Date</label>
      <input type="date" class="form-control" formControlName="publishedDate" />
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="isVisible"
          formControlName="isVisible"
        />
        <label class="form-check-label" for="isVisible"> Is Visible? </label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Categories</label>
      <select class="form-control" multiple formControlName="categories">
        @for (category of categoriesResponse(); track category.id) {
          <option [value]="category.id">{{ category.name }}</option>
        }
      </select>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
